Repository iftopalmas/sistemas-viagem, pull requests merged in 2022-12, with the labels that each got.

#75 #27 Criar entidade (classe) cliente e relacionados no sistema de agencia
  sistema-agencia-viagem/pom.xml
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Cidade.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Cliente.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Endereco.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Estado.java
Labels: sistema-agencia-viagens

#66 #54 Criar entidade (classe) PessoaJuridica e Locadora no sistema de veículos
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Locadora.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/PessoaJuridica.java
Labels: sistema-veiculos

#68 #64 Remover os métodos getters e setters e adicionar anotações `@Getter` e `@Setter`
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Cidade.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Cliente.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Endereco.java
  sistema-agencia-viagem/src/main/java/br/edu/ifto/sistemaagenciaviagem/entidades/Estado.java
  sistema-hotelaria/src/main/java/br/edu/ifto/sistemahotelaria/entidades/Cidade.java
  sistema-hotelaria/src/main/java/br/edu/ifto/sistemahotelaria/entidades/Cliente.java
  sistema-hotelaria/src/main/java/br/edu/ifto/sistemahotelaria/entidades/Estado.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Cidade.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Endereco.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Estado.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Funcionario.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Pessoa.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/PessoaFisica.java
Labels: CoC, produtividade

#94 close #89
  sistema-companhia-aerea/pom.xml
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/repository/VooRepository.java
Labels: sistema-aereo, rest-api

#96 CLOSE #88
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/CategoriaVeiculo.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Veiculo.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/repositories/CategoriaVeiculoRepository.java
Labels: sistema-veiculos, rest-api

#93 Close #87
  sistema-locadora-veiculo/pom.xml
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Cliente.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Reserva.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/repositories/ReservaRepository.java
Labels: sistema-veiculos, rest-api

#106 Criar API REST para gerenciar Aviões no sistema aéreo #79
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/repository/AviaoRepository.java
Labels: sistema-aereo, rest-api
