Repository iftopalmas/sistemas-viagem, pull requests merged in 2022-11, with the labels that each got.

#41 Issue 36 - Adicionar biblioteca Open API e testar acesso à swagger UI ao sistema de veículos
  sistema-locadora-veiculo/pom.xml
Labels: documentation, sistema-veiculos

#47 feat(companhias-aereas): adiciona arquivo import.sql
  sistema-companhia-aerea/src/main/resources/import.sql
Labels: enhancement, sistema-aereo

#38 Issue 30 criar entidade classe Cidade e Endereco no sistema de veículos
  sistema-locadora-veiculo/pom.xml
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Cidade.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Cliente.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Endereco.java
  sistema-locadora-veiculo/src/main/java/br/edu/ifto/sistemalocadoraveiculo/entidades/Estado.java
Labels: enhancement, sistema-veiculos

#48 Adicionando a biblioteca Open API
  sistema-hotelaria/pom.xml
Labels: enhancement, sistema-hotelaria

#60 Criar entidade (classe) Aeroporto e CompanhiaAerea #52
  sistema-companhia-aerea/pom.xml
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/entity/Aeroporto.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/entity/CompanhiaAerea.java
Labels: enhancement, sistema-aereo

#49 #28 Criar entidade classe cliente e relacionadas no sistema aéreo
  sistema-companhia-aerea/pom.xml
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/Cidade.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/Cliente.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/ContatoSeguranca.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/Endereco.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/Estado.java
  sistema-companhia-aerea/src/main/java/br/edu/ifto/sistemacompanhiaaerea/model/GrauParentesco.java
  sistema-companhia-aerea/src/main/resources/import.sql
Labels: sistema-aereo
